<mgl-map [style]="style" [zoom]="[2]" style="height: 50vh; width: 100vw;">
    <mgl-marker [lngLat]="[-75.551012, 10421185]">
        <div onclick="alert('hola')" class="marker">
            Hola
        </div>
    </mgl-marker>
</mgl-map>